.cx-lista-produtos {
  display: block;
}
.cx-lista-produtos .lista-centro-produtos {
  position: relative;
  background-color: #fff;
  padding: 15px;
}
.cx-lista-produtos .lista-centro-produtos h3 {
  font-size: 16px;
  font-family: "Titillium Web Bold";
}
.cx-lista-produtos .lista-centro-produtos .preco-custo {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
.cx-lista-produtos .lista-centro-produtos .preco-venda {
  font-size: 20px;
}
.cx-lista-produtos .lista-centro-produtos .preco-venda,
.cx-lista-produtos .lista-centro-produtos .quantidade-parcelas {
  font-family: "Titillium Web Bold";
}
.cx-lista-produtos .lista-centro-produtos img {
  width: 100%;
}
.cx-lista-produtos .lista-centro-produtos .btn-espiar,
.cx-lista-produtos .lista-centro-produtos .btn-comprar-rapido {
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  position: relative;
  color: #fff;
  -webkit-border-radius: 65px;
  -moz-border-radius: 65px;
  border-radius: 65px;
  padding: 5px 25px;
  *zoom: 1;
  *display: inline;
  filter: alpha(opacity=00);
  opacity: 0;
}
.cx-lista-produtos .lista-centro-produtos .btn-espiar .fa,
.cx-lista-produtos .lista-centro-produtos .btn-comprar-rapido .fa {
  display: block;
  font-size: 16px;
}
.cx-lista-produtos .lista-centro-produtos .btn-espiar {
  left: 0;
  background-color: #ffffff;
  float: left;
}
.cx-lista-produtos .lista-centro-produtos .btn-espiar:hover {
  background-color: #e3e3e3;
}
.cx-lista-produtos .lista-centro-produtos .btn-comprar-rapido {
  right: 0;
  margin-right: 0;
  background-color: #00bd00;
  float: right;
}
.cx-lista-produtos .lista-centro-produtos .btn-comprar-rapido:hover {
  background-color: #00a900;
}
.cx-lista-produtos .lista-centro-produtos:hover {
  border: 1px solid #c3c3c3;
}
.marcas-lista-produtos {
  margin: 4px 0;
}
.preco-produto {
  line-height: 1em;
}
.quantidade-parcelas {
  padding-bottom: 10px;
}
.cx-fitros-produtos {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #124090;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  color: #ffffff;
}
.cx-fitros-produtos > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 59px;
}
.cx-fitros-produtos > div > span {
  flex: 1 1 33%;
}
.cx-fitros-produtos > div > span.paginacao-site {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.cx-fitros-produtos > div > span.paginacao-site a,
.cx-fitros-produtos > div > span.paginacao-site span {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 1px 8px;
}
.cx-fitros-produtos > div > span.paginacao-site span {
  color: #fff;
  background-color: #042548;
  font-weight: bold;
}
.cx-fitros-produtos > div > span.ordem-produtos {
  width: 32px;
  height: 32px;
}
.cx-fitros-produtos > div > span.ordem-produtos > select {
  width: 100%;
}
